<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Applicants</h4>
      <p class="card-description">List</p>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>National Identy</th>
              <th>About</th>
              <th>Date Of Bird</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let applicant of allApplicantsList">
              <td>{{applicant.firstName}}</td>
              <td>{{applicant.lastName}}</td>
              <td>{{applicant.email}}</td>
              <td>{{applicant.nationalIdentity}}</td>
              <td>{{applicant.about}}</td>
              <td>{{applicant.dateOfBirth}}</td>
              <td><button type="button" class="btn btn-outline-info btn-sm"
                  routerLink="/applicant-update/{{applicant.id}}">Update</button>
                <button type="button" class="btn btn-outline-danger btn-sm ml-2"
                  routerLink="/add-blacklist/{{applicant.id}}">Add Black List</button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>