<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="app/public/skydash/images/BootCampLogo-light.png"
        width="50"
        height="50"
        alt=""
      />
      <span> BootCamp</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item navbar-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item navbar-item">
          <a class="nav-link" routerLink="/index-about">About</a>
        </li>
        <li class="nav-item navbar-item" *ngIf="!user">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item navbar-item">
          <a class="nav-link" routerLink="/login">{{
            user ? "Panel" : "Login"
          }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block w-100"
        src="app/public/skydash/images/1.jpeg"
        alt="First slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>The Pair 5 Bootcamp Project</h5>
        <p class="p-backg">
          It has been prepared for the Front-End Web Development Program within
          the Scope of the MILTEK Project.
        </p>
        <p class="p-backg">It is a group project who members are:</p>
        <p class="p-backg">
          Habibe Çelikten | Mustafa Peynirci | Gökalp Çelik | Ahmet Salih
          Karagöz
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="app/public/skydash/images/8.jpg"
        alt="Second slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Career Journey with Bootcamp</h5>
        <p class="p-backg">Start your career one step ahead with Bootcamp.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="app/public/skydash/images/9.jpg"
        alt="Third slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Software Bootcamps Begin</h5>
        <p class="p-backg">
          If you want to take part in free and certified software bootcamps,
          don't waste any time.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="app/public/skydash/images/10.jpg"
        alt="Third slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Take Your Place in the Industry</h5>
        <p class="p-backg">
          Take a firm step into the sector with a strong training staff and
          intensive training pace.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="app/public/skydash/images/6.jpg"
        alt="Third slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Bootcamp Adds Value to Your Future</h5>
        <p class="p-backg">
          Fill out the application form, try your luck and don't miss this
          opportunity. After applying to a program, you can access other
          programs by logging in.
        </p>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 grid-margin stretch-card mt-5">
        <div class="card">
          <div class="card-body">
            <p class="card-title mb-2">Top Bootcamps</p>
            <div class="table-responsive">
              <table class="table table-striped table-borderless">
                <thead>
                  <tr>
                    <th>Bootcamp Name</th>
                    <th>Date</th>
                    <th>Instructor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let bootcamp of allBootCampList">
                    <td>{{ bootcamp.name }}</td>
                    <td class="font-weight-bold">{{ bootcamp.dateStart }}</td>
                    <td class="font-weight-small">
                      {{ bootcamp.instructorName }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 stretch-card grid-margin mt-5">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Employee</p>
            <ul class="icon-data-list">
              <li>
                <div class="d-flex">
                  <img src="app/public/skydash/images/enes.jpeg" alt="user" />
                  <div>
                    <p class="text-info mb-1">Enes Bin Malik Köksal</p>
                    <p class="mb-0">Education Specialist of Casgem</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex">
                  <img src="app/public/skydash/images/ismail.png" alt="user" />
                  <div>
                    <p class="text-info mb-1">İsmail Karakaya</p>
                    <p class="mb-0">Education Specialist of Casgem</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex">
                  <img src="app/public/skydash/images/serhat.png" alt="user" />
                  <div>
                    <p class="text-info mb-1">Serhat Taşcı</p>
                    <p class="mb-0">Education Specialist of Casgem</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex">
                  <img
                    src="app/public/skydash/images/faces/face1.jpg"
                    alt="user"
                  />
                  <div>
                    <p class="text-info mb-1">Abdullah Çakır</p>
                    <p class="mb-0">Education Specialist of Casgem</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex">
                  <img
                    src="app/public/skydash/images/faces/face2.jpg"
                    alt="user"
                  />
                  <div>
                    <p class="text-info mb-1">Ceyda Kumlu</p>
                    <p class="mb-0">Education Specialist of Casgem</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex">
                  <img
                    src="app/public/skydash/images/faces/face3.jpg"
                    alt="user"
                  />
                  <div>
                    <p class="text-info mb-1">Salih Hak</p>
                    <p class="mb-0">Assistant Education Specialist of Casgem</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex">
                  <img
                    src="app/public/skydash/images/faces/face4.jpg"
                    alt="user"
                  />
                  <div>
                    <p class="text-info mb-1">Mert Sağlam</p>
                    <p class="mb-0">Assistant Education Specialist of Casgem</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex">
                  <img
                    src="app/public/skydash/images/faces/face5.jpg"
                    alt="user"
                  />
                  <div>
                    <p class="text-info mb-1">Cansu Sever</p>
                    <p class="mb-0">Assistant Education Specialist of Casgem</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <h3 class="mb-2 mt-3 font-weight-medium">BootCamps</h3>
    <div class="col-md-12 card-bg p-30">
      <div
        class="card mb-3 img-animation"
        *ngFor="let bootcamp of allBootCampList"
      >
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="app/public/skydash/images/s1.png"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ bootcamp.name }}</h5>
              <p class="card-text">
                {{ bootcamp.dateStart }} - {{ bootcamp.dateEnd }}
                <span
                  class="{{
                    bootcamp.state == 1
                      ? 'badge badge-success'
                      : 'badge badge-danger'
                  }} ml-2"
                >
                  {{ bootcamp.state == 1 ? "Active" : "Passive" }}
                </span>
              </p>
              <p>{{ bootcamp.instructorName }}</p>
              <p class="card-text">{{ bootcamp.explanation }}</p>
              <div
                class="state d-flex justify-content-start"
                *ngIf="user !== 'ROLE_INSTRUCTOR'"
              >
                <button
                  class="btn btn-sm btn-outline-primary"
                  (click)="apply(bootcamp)"
                >
                  {{ user == "ROLE_EMPLOYEE" ? "Edit Bootcamp" : "Apply" }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 d-flex align-items-stretch mt-5 card-bg">
      <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">What is the MILTEK Project?</h4>
              <p>
                In order to increase the economic benefit of digitalization, the
                need for the development of digital economy applications,
                domestic and national innovative technologies, the development
                of human resources working in these fields and the
                transformation of the workforce have arisen in order to support
                national software. CASGEM aims to support youth employment to
                meet this need, to contribute to the digital transformation of
                young people and to help them meet the expectations of the labor
                market, with the Project of Supporting the Qualified Employment
                of Youth within the Framework of the National Technology Move
                (MILTEK) carried out in 2021-2023.
                <br /><br />
              </p>
              <h4 class="card-title">What is the Bootcamp?</h4>
              <p>
                Bootcamps are a new education model for those who want to enter
                a technology career. Companies that want to grow their team
                organize bootcamps. People who have started to gain technical
                skills but are not ready to enter a job apply to bootcamps.
                Selected candidates receive admission to 4-8 weeks of free and
                intensive training. Students who are successful in bootcamps get
                a job in the relevant company.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4 mt-5 card-bg">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="row col-md-4">
          <h3 class="text-center font-weight-bold display1">Management Team</h3>
          <hr class="hr-cls" />
        </div>
      </div>
      <div class="one col-md-12">
        <div class="one-a col-md-6 d-flex">
          <div class="col">
            <div class="card img-card img-animation">
              <img
                src="app/public/skydash/images/kenan.jpeg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Kenan Yavuz</h5>
                <p class="card-text">
                  Center for Labour and Social Security Training and Research
                  (CASGEM) <br />
                  Deputy Chairman
                </p>
              </div>
            </div>
            <hr class="hr-cls" />
          </div>
          <div class="col">
            <div class="card img-card img-animation">
              <img
                src="app/public/skydash/images/engin.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Engin Demiroğ</h5>
                <p class="card-text">
                  Founder @ Kodlama.io, Co-Founder @ SolidTeam &
                  DevArchitecture, Instructor and Lifetime Learner
                </p>
              </div>
              <hr class="hr-cls" />
            </div>
          </div>
        </div>
        <div class="one-b col-md-12 d-flex mt-5">
          <div class="col">
            <div class="card img-card img-animation">
              <img
                src="app/public/skydash/images/enes.jpeg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Enes Bin Malik Köksal</h5>
                <p class="card-text">
                  Center for Labour and Social Security Training and Research
                  (CASGEM) Assistant Specialist
                </p>
              </div>
              <hr class="hr-cls" />
            </div>
          </div>
          <div class="col">
            <div class="card img-card img-animation">
              <img
                src="app/public/skydash/images/ismail.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">İsmail Karakaya</h5>
                <p class="card-text">
                  Center for Labour and Social Security Training and Research
                  (CASGEM) Assistant Specialist
                </p>
              </div>
              <hr class="hr-cls" />
            </div>
          </div>
          <div class="col">
            <div class="card img-card img-animation">
              <img
                src="app/public/skydash/images/serhat.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Serhat Taşçı</h5>
                <p class="card-text">
                  Center for Labour and Social Security Training and Research
                  (CASGEM) Assistant Specialist
                </p>
              </div>
            </div>
            <hr class="hr-cls" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-basic">
  <footer>
    <div class="social">
      <a href="www.instagram.com"><i class="mdi mdi-instagram"></i></a
      ><a href="www.twitter.com"><i class="mdi mdi-twitter"></i> </a
      ><a href="www.linkedin.com"><i class="mdi mdi-linkedin"></i></a>
    </div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Home</a></li>
      <li class="list-inline-item"><a routerLink="/index-about">About</a></li>
      <li class="list-inline-item"><a routerLink="/register">Register</a></li>
      <li class="list-inline-item"><a routerLink="/login">Login</a></li>
    </ul>
    <p class="copyright">The Pair 5 © 2022</p>
  </footer>
</div>
