<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Blacklist</h4>
      <p class="card-description">List</p>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Applicant ID</th>
              <th>Date</th>
              <th>Reason</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let blacklist of allBlackListList">
              <td>{{blacklist.id}}</td>
              <td>{{blacklist.applicantId}}</td>
              <td>{{blacklist.date}}</td>
              <td>{{blacklist.reason}}</td>
              <td>
                <button type="button" class="btn btn-outline-danger btn-sm ml-2"
                  *ngIf="authGuard.userRoleIn == 'ROLE_EMPLOYEE'"
                  (click)="removeApplicant(blacklist.id, blacklist.applicantId)">Remove From Black List</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>