.d-content {
    display: contents;
}
.home-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.7em;
    background-color: rgb(198, 198, 198) !important;
}
.font-weight{
    font-weight: 300;
}