<div class="main-panel d-content">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h2 class="font-weight-bold">Welcome <span class="font-weight">{{userInfo}}</span></h2>
          </div>
          <div class="col-12 col-xl-4">
            <div class="justify-content-end d-flex">
              <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                <button class="btn btn-sm btn-light bg-white d-flex align-items-center home-button" type="button"
                  routerLink="/">Home</button>
                <button class="btn btn-sm btn-light bg-white dropdown-toggle d-flex align-items-center" type="button"
                  id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <i class="mdi mdi-calendar mr-1"></i>Today {{ date }}
                </button>
                <!-- <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
                  <a class="dropdown-item">January - March</a>
                  <a class="dropdown-item">March - June</a>
                  <a class="dropdown-item">June - August</a>
                  <a class="dropdown-item">August - November</a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 grid-margin transparent">
        <div class="row">
          <div class="col-md-6 mb-4 stretch-card transparent">
            <div class="card card-tale">
              <div class="card-body">
                <h3 class="mb-4">Total Employees</h3>
                <p class="fs-30 mb-2">{{totalEmployee}}</p>
                <p>10.00% (30 days)</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4 stretch-card transparent">
            <div class="card card-dark-blue">
              <div class="card-body">
                <h3 class="mb-4">Total Applicants</h3>
                <p class="fs-30 mb-2">{{totalApplicants}}</p>
                <p>22.00% (30 days)</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
            <div class="card card-light-blue">
              <div class="card-body">
                <h3 class="mb-4">Total Bootcamps</h3>
                <p class="fs-30 mb-2">{{totalBootcamps}}</p>
                <p>2.00% (30 days)</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 stretch-card transparent">
            <div class="card card-light-danger">
              <div class="card-body">
                <h3 class="mb-4">Total Instructors</h3>
                <p class="fs-30 mb-2">{{totalInstructors}}</p>
                <p>0.22% (30 days)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title mb-0">Applications</p>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Applicant Name</th>
                    <th>Bootcamp Name</th>
                    <th>Application State</th>
                    <th *ngIf="authGuard.userRoleIn == 'ROLE_EMPLOYEE'">Manage</th>
                  </tr>
                </thead>
                <tbody *ngIf="authGuard.userRoleIn == 'ROLE_EMPLOYEE'">
                  <tr *ngFor="let application of allApplicationList">
                    <td>{{ application.applicantName}}</td>
                    <td>{{ application.bootcampName}}</td>
                    <td>
                      <span [ngClass]="{'badge badge-pill badge-warning' : application.applicationState == 'PENDING',
                      'badge badge-pill badge-danger' : application.applicationState == 'DENIED',
                      'badge badge-success' : application.applicationState == 'SELECTED'}">
                        {{ application.applicationState }}
                      </span>
                    </td>
                    <td> <button type="button" class="btn btn-outline-info btn-sm" id="updateButton"
                      *ngIf="authGuard.userRoleIn == 'ROLE_EMPLOYEE'"
                       data-toggle="modal" data-target="#applicationModal" routerLink="application-update/{{application.id}}">Update</button></td>
                  </tr>
                </tbody>
                <tbody *ngIf="authGuard.userRoleIn == 'ROLE_APPLICANT'">
                  <tr *ngFor="let application of applicationByIdList">
                    <td>{{ application.applicantName}}</td>
                    <td>{{ application.bootcampName}}</td>
                    <!-- class="*ngIf='application.applicationState==PENDING'" -->
                    <td>
                      <span [ngClass]="{'badge badge-pill badge-warning' : application.applicationState == 'PENDING',
                      'badge badge-pill badge-danger' : application.applicationState == 'DENIED',
                      'badge badge-success' : application.applicationState == 'SELECTED'}">
                        {{ application.applicationState }}
                        </span>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="authGuard.userRoleIn == 'ROLE_INSTRUCTOR'">
                  <tr *ngFor="let application of allApplicationList">
                    <td>{{ application.applicantName}}</td>
                    <td>{{ application.bootcampName}}</td>
                    <!-- class="*ngIf='application.applicationState==PENDING'" -->
                    <td>
                      <span [ngClass]="{'badge badge-pill badge-warning' : application.applicationState == 'PENDING',
                      'badge badge-pill badge-danger' : application.applicationState == 'DENIED',
                      'badge badge-success' : application.applicationState == 'SELECTED'}">
                        {{ application.applicationState }}
                        </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>