.d-content {
    display: contents;
}
.home-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.7em;
    background-color: rgb(198, 198, 198) !important;
}
.font-weight{
    font-weight: 300;
}
.badge-warning{
    padding: 4px 12px;
    border-radius: 15px;
    font-size: 12px;
    color: white;
}
.badge-danger{
    padding: 3px 16px;
    font-size: 12px;
}