<div class="col-md-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Applicant Update</h4>
        <form class="form-sample" [formGroup]="applicantUpdateForm" *ngIf="applicantUpdateForm" >
          <p class="card-description">
            Info
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">First Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" value="Jacob" placeholder="first name" formControlName="firstName"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Last Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" value="Yeah" placeholder="last name" formControlName="lastName"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" value="" placeholder="@email" formControlName="email"/>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" value="" placeholder="password" formControlName="password">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">National Identity</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" value="" placeholder="national identity" formControlName="nationalIdentity"/>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">About</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" value="" placeholder="about" formControlName="about"/>
                  </div>
                </div>
              </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Date Of Birth</label>
                <div class="col-sm-9">
                    <input class="form-control" value="" placeholder="dd/mm/yyyy" formControlName="dateOfBirth"/>
                </div>
              </div>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <div class="col-md-3">
                    <button type="button" class="btn btn-outline-info w-100" (click)="updateApplicant()">Update</button>  
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-outline-danger w-100" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </div>
                 <!-- Modal -->
                  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="false">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete Account</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                              Are you sure about delete ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal"
                                (click)="deleteApplicant()">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
              <!-- Modal end -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>