<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item" routerLink="/admin-panel">
      <a class="nav-link">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#instructor" aria-expanded="false" aria-controls="instructor">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Instructor</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="instructor">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="instructor-list">List</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="instructor-add">Add</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#employee" aria-expanded="false" aria-controls="employee">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Employee</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="employee">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="employee-list">List</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="employee-add">Add</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#applicant" aria-expanded="false" aria-controls="applicant">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Applicant</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="applicant">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="applicant-list">List</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="applicant-add">Add</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#bootcamp" aria-expanded="false" aria-controls="bootcamp">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">BootCamp</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="bootcamp">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="bootcamp-list">List</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="bootcamp-add">Add</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="blacklist">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Black List</span>
      </a>
    </li>
  </ul>
</nav>