<div class="col-md-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Admin Update</h4>
        <form class="form-sample">
          <p class="card-description">
            Info
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">First Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" value="Jacob" placeholder="first name"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Last Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" value="Yeah" placeholder="last name"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" value="" placeholder="@email"/>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" value="" placeholder="password"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">National Identy</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" value="" placeholder="national identy"/>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Date Of Birth</label>
                <div class="col-sm-9">
                    <input class="form-control" value="" placeholder="dd/mm/yyyy"/>
                </div>
              </div>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <div class="col-md-3">
                    <button type="button" class="btn btn-outline-info w-100">Update</button>  
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-outline-danger w-100">Delete</button>
                </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>