<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Bootcamp</h4>
      <p class="card-description">List</p>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Instructor</th>
              <th>Name</th>
              <th class="w-350">Explanation</th>
              <th>Date Start</th>
              <th>Date End</th>
              <th>State</th>
              <th *ngIf="authGuard.userRoleIn == 'ROLE_EMPLOYEE' || authGuard.userRoleIn == 'ROLE_APPLICANT'">Manage</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bootcamp of allBootcampsList" >
              <td>{{bootcamp.instructorName}}</td>
              <td>{{bootcamp.name}}</td>
              <td class="w-350 three-points">{{bootcamp.explanation}}</td>
              <td>{{bootcamp.dateStart}}</td>
              <td>{{bootcamp.dateEnd}}</td>
              <td class="font-weight-medium">
                <span class="{{bootcamp.state == 1 ? 'badge badge-success' : 'badge badge-danger'}}">
                  {{bootcamp.state == 1 ? 'Active' : 'Passive'}}
                </span>
              </td>
              <td>
                <button type="button" class="btn btn-outline-info btn-sm" id="applyButton"
                  *ngIf="authGuard.userRoleIn == 'ROLE_APPLICANT'"
                   data-toggle="modal" data-target="#applicationModal">Apply</button> 
              </td>
              <td>
                <button type="button" class="btn btn-outline-info btn-sm"
                  *ngIf="authGuard.userRoleIn == 'ROLE_EMPLOYEE'"
                  routerLink="bootcamp-update/{{bootcamp.id}}">Update</button>
              </td>
                      <!-- Modal -->
              <div class="modal fade" id="applicationModal" tabindex="-1" role="dialog" aria-labelledby="applicationModalLabel" aria-hidden="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="applicationModalLabel">Application</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                          Are you sure about application ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-success" data-dismiss="modal"
                            (click)="getBootcamp(bootcamp)">Apply</button>
                        </div>
                    </div>
                </div>
              </div>
              <!-- Modal end -->
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

